@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;}
html{overflow:hidden;}
body{overflow:hidden;}
img{border:0;}
.clear{clear:both;}
.outFrame{margin:0px auto;}
.bj_3{margin:0px auto;padding:0px;background:url(bj_03.jpg) center no-repeat;width:1440px;height:800px;}
.login_box{background:url(sogin.png) no-repeat center center;width:998px;height:377px;position:absolute;left:15%;top:25%;}
.input1{height:30px;margin-left:738px;padding-top:125px;}
.input2{height:30px;margin-left:738px;margin-top:45px;}
.inputer{border:#0096eb solid 0px;width:202px;height:36px;}
.wjmm{float:left;margin-top:27px;margin-left:20px;}
.go{margin-left:675px;margin-top:45px;}
.err{margin-top:10px;}